.activities-bg-image{

    background-image: url("../resources/activities.png"); 

}

.webinars-section, .meetings-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: var(--partners-background-color);
}

.webinars-list, .meetings-list {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    padding-bottom: 5rem;
    align-items: flex-start;
}

.webinar-item, .meeting-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn.register-button {
    font-size: 1.2rem;
    padding: 0.05rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--btn-bg-color);
}

.btn.register-button:hover {
    background-color: white;
    color: var(--secondary-background-color);
}

.btn.register-button.disabled {
    background-color: var(--btn-disabled-bg-color);
    color: var(--primary-text-color);
    opacity: 1;
}

.webinar-details, .meeting-details {
    text-align: left;
    display: flex;
    width: 100%;
}

.webinar-details p, .meeting-details p {

    margin-bottom: 0;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
}

.meeting-flag {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}

.meetings-section {
    background-color: var(--primary-background-color);
    
}

.meetings-list {
    padding-left: 2rem;
}





@media screen and (max-width: 768px) {
    .webinar-item, .meeting-item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--secondary-text-color);
        padding-bottom: 1rem;
    }

    .btn.register-button {
        font-size: 1rem;
        
    }

    .webinar-details p, .meeting-details p {

        
        font-size: 1rem;
        
    }

    .meetings-list {
        padding-left: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .webinar-item, .meeting-item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--secondary-text-color);
        padding-bottom: 1rem;
        width: 100%;
    }

    .btn.register-button {
        font-size: 1rem;
        
    }

    .webinar-details p, .meeting-details p {

        
        font-size: 1rem;
        
    }
    .meetings-list {
        padding-left: 2rem;
    }
}