.activities-bg-image{

    background-image: url("../resources/activities.png"); 

}

.webinars-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: var(--partners-background-color);
}

.webinars-list {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    align-items: flex-start;
}

.webinar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn.register-button {
    font-size: 1rem;
    padding: 0.05rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--btn-bg-color);
}

.btn.register-button:hover {
    background-color: var(--btn-hover-bg-color);
}

.webinar-details {
    font-size: 1.2rem;
    text-align: left;
    display: flex;
    width: 100%;
}

.webinar-details p {

    margin-bottom: 0;
    font-size: 1rem;
    color: var(--secondary-text-color);
}