.content-card-icon{
    background-color: var(--card-image-background-color);
    position: absolute;
   
    left: -25px;
    border-radius: 100% ;
    border: 1px solid var(--background-color);
    padding: 1.5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-card-icon-icon {
    width: 2.5rem;
    height: 2.5rem;
}


/* Common style for phone, email, and social sections */
.content-card-container
 {
    background-color: var(--card-background-color);
    border-radius: 10px;
    /* padding: 1rem 2rem; */
    color: white;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4); */
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    max-width: 100%;
    min-width: 900px;
    margin: 0 auto; /* Center the container */
}

.content-card-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 0;
    position: relative;
    top: -20px; /* Adjusts the title position */
}

/* Title part with icon */
.content-card-title {
    background-color: var(--card-image-background-color);
    color: black;
    border-radius: 10px;
    border: 1px solid var(--background-color);
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    padding: 0;
    padding-left: 4.5rem ;
}

.content-card-title p {
    margin: 0;

}

.content-card-container .link-content{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    
}

.content-card-link{

    font-size: 1.3rem;
    font-weight: 500;
}

.content-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 1.5rem ;
    font-size: 1.3rem;
}

/* Contact info */
.content-card-content a {
    text-decoration: none;
    color: var(--card-image-background-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.content-card-content a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    
    .content-card-container {

        min-width: 80vw ;

    }

    .content-card-title-container {
        width: 80vw ;
        margin: 0 auto ;
    }

    .content-card-title {
        font-size: 1.2rem ;
        padding: 0.5rem ;
        height: 50px ;
        width: 100% ;
        display: flex ;
        flex-direction: column ;
        gap: 0.5rem ;
        
    }

    .content-card-icon{
        padding: 1rem ;
        width: 50px ;
        height: 50px ;
        left: -20px ;
    }

    .content-card-icon-icon {
        width: 3.5rem ;
        height: 3.5rem ;
    }

    .content-card-content {
        padding: 0.5rem 0 ;
    }


}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    

    .content-card-container {

        min-width: 80vw ;

    }

    .content-card-title-container {
        width: 80vw ;
        margin: 0 auto ;
    }

    .content-card-title {
        font-size: 1.2rem ;
        padding: 0.5rem ;
        height: 50px ;
        align-items: center ;
        justify-content: center ;
        text-align: center ;
        width: 100% ;
        display: flex ;
        flex-direction: column ;
        gap: 0.5rem ;
        
    }

    .content-card-icon{
        padding: 1rem ;
        width: 50px ;
        height: 50px ;
        left: -20px ;
    }

    .content-card-icon-icon {
        width: 3.5rem ;
        height: 3.5rem ;
    }

    .content-card-content {
        padding: 0.5rem 0 ;
    }

    
}
