.home-text-div{
    color: var(--primary-text-color);
}

/* Responsive Text */
.home-title {
    font-size: clamp(2.5rem, 5vw, 6rem); 
}

.home-subtitle {
    font-size: clamp(1.5rem, 3vw, 2rem); 
}

.home-p {
    margin-top: 4vh;
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.home-text-div{
    width: clamp(400px, 50vw, 850px);
    margin-left: 5vw;
    margin-top: 10vh;
}

.home-page-content{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    height: 100vh;
    width: 100%;

    flex-wrap: wrap;

    background-image: url("../resources/blobs.png"); 
    background-size: contain;
    background-position: right -100px center;
    background-repeat: no-repeat;

    padding-top: 5vh;
}

.erasmus-div{
    margin-left: 2vw;
    margin-top: 8vh;
}

.erasmus-img{
    width: 30vw;
    height: auto;
}

@media screen and (max-width: 768px) {
    .home-page-content {
        flex-direction: column; /* Stack items vertically */
        justify-content: flex-start;
        align-items: center;
        margin-top: 0;
        /* background-position: top center */
        text-align: center;
        height: auto;
        
    }

    .home-text-div {
        
        width: 90%; /* 90% of the screen width */
        text-align: center;
        margin-left: 0;
        padding: 8vw 0;
    }

    .home-title {
        font-size: clamp(2rem, 5vw, 3rem);
    }

    .home-subtitle {
        font-size: clamp(1rem, 4vw, 2rem);
    }

    .home-p {
        font-size: clamp(1rem, 3vw, 1.5rem);
        padding-bottom: 3vh;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    .erasmus-div {
        margin-top: 0vh;
        
        padding-bottom: 6vh;
        margin-left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .erasmus-img {
        width: 80vw; /* Increase size for better visibility */
    }
}
