.image-card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
    width: 100%;
    
}

.image-card-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


