.materials-bg-image{

    background-image: url("../resources/materials.png"); 

}

.download-files-section, .images-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: var(--background-color);
}

.download-files-list, .images-card-grid {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;
    padding-bottom: 5rem;
    align-items: flex-start;
}

.download-file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn.download-button {
    font-size: 1.2rem;
    padding: 0.05rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--secondary-background-color);
}

.btn.download-button:hover {
    background-color: white;
    color: var(--secondary-background-color);
}

.btn.download-button.disabled {
    background-color: var(--btn-disabled-bg-color);
    color: var(--primary-text-color);
    opacity: 1;
}

.download-file-details {
    text-align: left;
    display: flex;
    width: 100%;
}

.download-file-details p {

    margin-bottom: 0;
    font-size: 1.2rem;
    color: var(--secondary-text-color);
}


@media screen and (max-width: 768px) {
    .download-file-item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--secondary-text-color);
        padding-bottom: 1rem;
        width: 100%;    
    }

    .btn.download-button {
        font-size: 1rem;
        
    }

    .download-file-details p {

        
        font-size: 1rem;
        
    }

    .download-files-list {
        padding-left: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .download-file-item {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid var(--secondary-text-color);
        padding-bottom: 1rem;
        width: 100%;
    }

    .btn.download-button {
        font-size: 1rem;
        
    }

    .download-file-details p {

        
        font-size: 1rem;
        
    }
    .download-files-list {
        padding-left: 2rem;
    }
}