.objectives-text-div{
    color: var(--primary-text-color);
}

/* Responsive Text */
.objectives-title {
    font-size: clamp(2.5rem, 5vw, 6rem); 
}

.objectives-p {
    color: var(--secondary-text-color);
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.objectives-text-div{
    width: clamp(400px, 50vw, 850px);
    margin-left: 5vw;
    margin-top: 10vh;
}

.objectives-page-description{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;

    flex-wrap: wrap;

    background-image: url("../resources/target.png"); 
    background-size: 40%;
    background-position: left 50px top 100px;
    background-repeat: no-repeat;

    padding-top: 5vh ;
}

.objectives-cards-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: var(--partners-background-color);
}

.objective-cards-grid-title{
    padding-left: 4vw;
}

.objective-cards-grid-title-text{
    font-size: clamp(2rem, 5vw, 4rem);
    color: black;
}

.objective-cards-grid {
    padding-top: 20vh ;
    padding-bottom: 2vh ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.specifics-cards-container{
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.specifics-cards-grid-title{
    padding-left: 4vw;
}

.specifics-cards-grid {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .objectives-page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px ;
        align-items: center ;
        justify-content: flex-start;
        text-align: center;

        height: 100%;
        padding-bottom: 60vh;

        background-image: url("../resources/target.png");
        background-size: 70%;
        background-position: bottom 20vh center;
        background-repeat: no-repeat;
  
    }

    .objectives-text-div {
        width: 90% ; /* 90% of the screen width */
        text-align: center;
    }

    .objectives-title {
        font-size: clamp(2rem, 5vw, 3rem);
        margin-bottom: 3vh;
    }

    .objectives-p {
        font-size: clamp(1rem, 3vw, 1.5rem);
        text-align: left;
    }

    .objective-cards-grid-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .objective-cards-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--partners-background-color);
        padding-top: 50px;
    }

    .specifics-cards-grid-title{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .specifics-cards-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .objectives-page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px;
        align-items: center;
        justify-content: flex-start;
        text-align: center;

        background-image: url("../resources/target.png");
        background-size: 70%;
        background-position: bottom 150px center;
        background-repeat: no-repeat;
    }

    .description-content{
        text-align: center !;
        justify-content: center !;
        align-items: center !;
        display: flex !;
        flex-direction: column !;
        width: 100% !;
    }

    .objectives-text-div {
        width: 70% !; /* 70% of the screen width */
        text-align: center !;
        justify-content: center !;
        align-items: center !;
    }
    .objectives-title {
        font-size: clamp(2rem, 5vw, 4rem) !;
    }

    .objectives-p {
        font-size: clamp(0.8rem, 3vw, 1rem) !;
    }

    .objective-cards-grid-title{
        display: flex !;
        align-items: center !;
        justify-content: center !;
    }

    .objective-cards-grid {
        display: flex !;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--partners-background-color) !;
        padding-top: 50px !;
    }

    .specifics-cards-grid-title{
        display: flex !;
        align-items: center !;
        justify-content: center !;
    }
    
}
