.page-text-div{
    color: var(--primary-text-color);
}

/* Responsive Text */
.page-title {
    font-size: clamp(2.5rem, 5vw, 6rem) ; 
}

.page-p {
    color: var(--secondary-text-color) ;
    font-size: clamp(1rem, 2vw, 1.4rem) ;
}

.page-text-div{
    width: clamp(400px, 50vw, 850px) ;
    margin-left: 5vw ; 
    margin-top: 10vh ;
}

.page-description{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;

    flex-wrap: wrap ;

    background-size: 40%;
    background-position: left 50px top 100px;
    background-repeat: no-repeat;

    padding-top: 5vh ;
}

@media screen and (max-width: 768px) {
    .page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px ;
        align-items: center ;
        justify-content: flex-start;
        text-align: center ;

        height: 100% ;
        padding-bottom: 60vh ;

        background-size: 70vw;
        background-position: bottom 10vh center;
        background-repeat: no-repeat;
  
    }

    .page-text-div {
        width: 90%; /* 90% of the screen width */
        text-align: center;
        
        
    }

    .page-title {
        font-size: clamp(2rem, 5vw, 3rem) ;
        margin-bottom: 3vh ;
    }

    .page-p {
        font-size: clamp(1rem, 3vw, 1.5rem) ;
        text-align: left ;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px ;
        align-items: center ;
        justify-content: flex-start;
        text-align: center ;

        height: 100% ;
        padding-bottom: 60vh ;

        background-size: 70vw;
        background-position: bottom center;
        background-repeat: no-repeat;
  
    }

    .page-text-div {
        width: 90%; /* 90% of the screen width */
        text-align: center;
        
        
    }

    .page-title {
        font-size: clamp(2rem, 5vw, 3rem) ;
        margin-bottom: 3vh ;
    }

    .page-p {
        font-size: clamp(1rem, 3vw, 1.5rem) ;
        text-align: left ;
    }
}